.odering {
    padding: 20px 120px;
    h3 {
        padding-top: 40px;
    }
    h4 {
        padding-top: 20px;
    }
    li {
        font-size: 15px;
        margin-left: 30px;
    }
    p {
        padding: 10px 0;
    }
}